#commentlist
  #commentwindow
    %ul
    - @comments.each do |comment|
      %li.activity
        %a{:href => "#{chwink_path(comment.chwink)}"} 
          = comment.chwink.name
        \:
        %img{ :src => "#{comment.try(:user).image}", :height => "16px", :width => "16px"}
        = comment.try(:user).name
        says, '
        = comment.comment
        \'  
