%script
  $(document).ready(function() {
  createStoryJS({
  type:       'timeline',
  width:      '640',
  height:     '600',
  source:     #{raw @chwinks},
  embed_id:   'my-timeline',
  debug:      false,
  start_at_slide: #{@slide_index},
  });
  });
#page-content
  .row-fluid
    .span8.showmered
      #my-timeline     
    .span4
      .accordion#add_chwink_activity
        .accordion-group
          .accordion-heading
            = link_to "<i class='icon-arrow-down'></i> Add a Chwink".html_safe, "#add_chwink_section", data: {parent: "#add_chwink_activity", toggle: "collapse"}, class: 'accordion-toggle'
          .add-column.accordion-body.collapse#add_chwink_section
            = render 'add_chwink'
        .accordion-group
          .accordion-heading
            = link_to "<i class='icon-arrow-down'> </i> Activity".html_safe, "#activity_section", data: {parent: "#add_chwink_activity", toggle: "collapse"}, class: 'accordion-toggle'
          .add-column.accordion-body.collapse#activity_section  
            = render "activity"
= render 'comments'
:javascript
  

  $(document).ready(function(){
    
    function broadcast_msg(broadcast_json)
    {
      var msg = "Default Message ";
      switch (broadcast_json.action)
      {
        case 'create':
          msg = "<li class=activity>" + broadcast_json.user+  " added a chwink called " + "<a href='#'>"+ broadcast_json.chwink +"</a> </li>";
          break;
        case 'update':
          msg = "<li class=activity>" + broadcast_json.user+  " updated information about " + "<a href='#'>"+ broadcast_json.chwink +"</a> </li>";
          break; 
      }
      return msg;
      
    }
    
    var need_broadcast = "#{@to_be_broadcast}"
    if(need_broadcast == "true")
    {
      broadcast_data = '#{@broadcast_data}'
      msg = broadcast_msg(JSON.parse(broadcast_data)); 
      console.log("broadcasting"); 
      client.publish('/activity/public', {'message': msg});
    }
    
    $('.accordion').on('show hide', function(e){
      $(e.target).siblings('.accordion-heading').find('.accordion-toggle i').toggleClass('icon-arrow-down icon-arrow-up', 200);
    });


    var activity_subscription = client.subscribe('/activity/public', function(data){
      $('#messagewindow ul').prepend(data.message);                             
    }); 
  });
      
